@import 'settings/all';

.filter-label {
	display: block;
	padding: 0.5rem;
	margin-left: -0.5em;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: $background-hover;
		cursor: pointer;
	}
}
